@import "{{ site.theme }}";
// Breakpoints
$large-breakpoint: 64em !default;
$medium-breakpoint: 42em !default;

// Headers
$header-heading-color: #fff !default;
$header-bg-color: #9D82EE !default;
$header-bg-color-secondary: #E98BAD !default;

// Text
$section-headings-color: #a810c5;
$body-text-color: #606c71;
$body-link-color: #9D82EE;
$blockquote-text-color: #E98BAD;

// Code
$code-bg-color: #f3f6fa;
$code-text-color: #567482;

// Borders
$border-color: #dce6f0 !default;
$table-border-color: #e9ebec !default;
$hr-border-color: #eff0f1 !default;
