---
---
// Breakpoints
$large-breakpoint: 64em !default;
$medium-breakpoint: 42em !default;

// Headers
$header-heading-color: #fff !default;
$header-bg-color: #5421e4;
$header-bg-color-secondary: #dd417a;

// Text
$section-headings-color: #5421e4;
$body-text-color: #606c71 !default;
$body-link-color: #9D82EE;
$blockquote-text-color: #C1AFF4;

// Code
$code-bg-color: #f5f2fd;
$code-text-color: #B199F1;

// Borders
$border-color: #dce6f0 !default;
$table-border-color: #e9ebec !default;
$hr-border-color: #FDF5F8;

@import "{{ site.theme }}";
